# This forgets all global gitignore configs
!*

# Monorepo-wide configs
.env
.env.override

# Frontend configs
/frontend/node_modules
/frontend/src/protos-gen/

#Backend configs
/backend/protos-gen/

# Protobufs configs
/protobufs/node_modules
/protobufs/package-lock.json
/protobufs/package.json

# Postgres configs
/postgres/pg-data/
/postgres/pg-data-test/
