# This forgets all global gitignore configs
!*

# Monorepo-wide configs
.env

# Frontend configs
/frontend/node_modules

# Protobufs configs
/protobufs/node_modules
/protobufs/package-lock.json
/protobufs/package.json

# Postgres configs
/postgres/pg-data/
/postgres/pg-data-test/
